@import "../../styles/Color.scss";

// Header banner
.about-banner {
	background-image: url(/img/about-banner.jpg);

	.slogan {
		text-align: center !important;
	}

	.about-banner-text {
		display: flex;
		justify-content: center;
	}
}
.about-body-container {
	margin: 0 auto;
}

.policy-banner {
	.slogan-section {
		top: 50%;
		bottom: unset;
	}
}

.policy {
	ul {
		list-style: unset;
		margin: unset;
		padding-left: 40px;
	}

	.policy-end-text {
		margin-bottom: 60px;
	}
}
