@import "../../styles/Color.scss";
@import "../../styles/Button.scss";

// login
.register {
	.login-other {
		height: 170px !important;
	}

	.stay-signin {
		display: flex !important;

		.stay-signin-check {
			margin-top: 0 !important;
		}

		.policy-text {
			font-size: 14px;
		}
	}

	.create-forgot {
		display: inline-block !important;
		width: 100%;
		text-align: center;

		.sign-in {
			cursor: pointer;
		}
	}
}

.calendar-modal {
	&.rule-modal {
		font-size: 14px;
		height: 350px;
	}
}
