@import "../../styles/Color.scss";

.result-table {
	width: 100%;
	font-size: 14px;
	@media (min-width: 768px) {
		font-size: 16px;
	}

	.row-class {
		&:hover {
			background-color: #ea1f37;
			color: white;
			cursor: pointer;
		}
	}

	.react-bootstrap-table {
		@media (max-width: 767px) {
			th,
			td {
				padding: 12px 6px;
			}
		}
	}
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.dropup {
	.caret {
		content: "";
		border-top: 0;
		border-bottom: 4px dashed;
	}
}

.pagination {
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;

	.page-item {
		.page-link {
			background-color: #f9f9f9;
			color: red;
		}

		&.active {
			.page-link {
				background-color: #efefef;
				border-color: #dee2e6;
			}
		}
		&.disabled {
			.page-link {
				background-color: #e6e6e6;
				color: red;
			}
		}
	}
	.page-link {
		&:focus {
			box-shadow: none;
		}
	}
}

.rc-menu {
	width: 100%;
	border-width: 0px;
	background-color: #e9e9e9;
	margin-top: 0px;
	padding: 1px 10px 15px 10px;
	border-radius: 0;
	@media (min-width: 768px) {
		padding: 0;
		padding-left: 90px;
	}
	.rc-menu-item {
		cursor: pointer;
		border-width: 0px;
		padding: 7px;
		margin-top: 15px;
		margin-right: 0px;
		@media (min-width: 768px) {
			margin-right: 10px;
		}
		background-color: #f5f5f5;

		&.rc-menu-item-selected {
			background-color: white;
		}

		&.rc-menu-item-active {
			border-width: 0px;
			background-color: #ea1f37;
			color: white;
		}
	}

	&.rc-menu-sub {
		border: 1px solid #d2cfcc;
		border-radius: 0px;
		padding: 8px;
		background-color: #f5f5f5;
	}
}

.rc-menu-submenu {
	cursor: pointer;
	border-width: 0px !important;
	margin-top: 15px;
	margin-right: 0px;
	@media (min-width: 768px) {
		margin-right: 10px;
	}
	background-color: #f5f5f5;

	.rc-menu-submenu-title {
		padding: 7px 30px 7px 25px !important;
		@media (min-width: 768px) {
			padding: 7px 30px 7px 12px !important;
		}
		min-width: 75px;
		.rc-menu-submenu-arrow {
			right: 13px;
		}
	}
	.rc-menu-item {
		margin: 0px;
	}

	&.rc-menu-submenu-active {
		border-width: 0px;
		background-color: white;
		color: white;

		.rc-menu-submenu-title {
			background-color: #ea1f37;
		}
	}

	&.rc-menu-submenu-selected {
		background-color: white;
	}

	&.rc-menu-submenu-horizontal {
		&.rc-menu-submenu-active {
			border-width: 0px;
			background-color: white;
			color: black;

			.rc-menu-submenu-title {
				background-color: white;
			}
		}
	}
}

.react-bootstrap-table-pagination {
	.react-bootstrap-table-pagination-list {
		ul {
			justify-content: center;
		}
	}
}

.sizerpage {
	display: flex;
	justify-content: center;
	color: red;

	span {
		margin: auto 0;
	}

	.eventresult-sizerpage {
		width: 60px;
		margin: 0 10px;

		.Select-control {
			border-radius: 12px;
		}
	}

	.Select.is-focused:not(.is-open) > .Select-control {
		border-color: $color_grey_border;
		box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0 0px rgba(0, 126, 255, 0.1);
	}
}

.eventresult-page {
	.event-organisation-logo {
		img {
			max-width: 200px;
		}
	}

	.eventresult-filter {
		display: inline-block;
		margin-bottom: 20px;
		@media (min-width: 768px) {
			display: table-cell;
		}

		&.eventresult-custom-filter {
			margin-top: -45px;
		}

		span {
			margin-left: 15px;
			font-size: 28px;
			font-weight: 300;
			line-height: 1;
			letter-spacing: 0.5px;
			color: #1d1d26;
			@media (max-width: 767px) {
				font-size: 16px;
			}
		}

		.eventresult-filter-body {
			margin-left: 15px;
			margin-top: 10px;

			.eventresult-text {
				height: 40px;
				border-radius: 8px 0px 0px 8px;
				border: solid 1px #d2cfcc;
				padding-left: 5px;
				&:focus {
					outline: none;
				}
			}

			.btn-eventresult-filter {
				height: 40px;
				border-radius: 0px 8px 8px 0px;
			}
			@media (min-width: 768px) {
				margin-left: auto;
				margin-top: -11px;
			}
		}
		@media (min-width: 768px) {
			display: flex;
		}
	}

	.event-page {
		.card-star {
			z-index: 1;
			position: absolute;
			margin-top: -54px;
		}
	}

	.event-page-mobile {
		.card-star {
			right: 30px;
		}
		.event-info {
			.event-description {
				.title {
					max-width: 190px !important;
				}
			}
		}
	}
}

.eventresult-menu {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	@media (min-width: 768px) {
		margin-top: -27px;
		background-color: #e9e9e9;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 40px;
	}

	.hamburgermenu {
		width: 100%;

		.hamburgermenu-mark {
			display: flex;
			margin-bottom: 5px;
			justify-content: flex-end;
		}
	}
}

.hiddencolumn {
	display: none;
	@media (min-width: 576px) {
		display: none;
	}
	@media (min-width: 768px) {
		display: table-cell;
	}
}

.poscolumn {
	width: 40px;
	@media (min-width: 768px) {
		width: 80px;
	}
}
.winner {
	width: 100%;
	margin-bottom: 40px;

	.winner-title {
		margin-bottom: 20px;
		span {
			margin-left: 15px;
			font-size: 28px;
			font-weight: 300;
			line-height: 1;
			letter-spacing: 0.5px;
			color: #1d1d26;
			@media (max-width: 767px) {
				font-size: 16px;
			}
		}
		a {
			text-decoration: underline !important;
			color: #ea1f37 !important;
			font-size: 20px;
			float: right;
			cursor: pointer;
			padding-right: 15px;
			@media (max-width: 767px) {
				font-size: 16px;
			}
		}
	}
}

.winnerresult-placeholder {
	width: 100%;
	height: 300px;
}
