.person-events {
  .event-gallery {
    width: 100%;
  }
}
.mobile-person-header {
  height: 300px;
  background-image: url(/img/event-banner-top.png);
  @media (min-width: 1200px) {
    display: none;
  }
}
.section-title {
  &.mobile-person-title {
    @media (max-width: 1199px) {
      display: none;
    } 
  }
}