$color_charcoal_grey: #353647;
$color_charcoal_grey_two: #373739;
$color_pinkish_red: #ea1f37;
$color_cloudy_blue: #a8aad7;
$color_bright_grey: #eceae8;
$color_grey_text: #383739;
$color_grey_border: #d2cfcc;
$color_black-33: rgba(0, 0, 0, 0.33);
$color_grey_font : #43445b;
$color_grey_circle : #d8d8d8;
$color_event_running: rgb(168, 170, 215);
$color_event_bikerun: rgb(216, 209, 197);
$color_event_bikerace: rgb(191, 223, 255);
$color_event_other: rgb(196, 214, 164);
$color_event_mountainbike: rgb(149, 204, 208);
$color_event_trialrun: rgb(255, 91, 111);

$color_red: #ea1f37;
$color_white: #ffffff;
$color_dark: #1d1d26;
$color_black: #121212;
$color_btn_facebook: #4267b2;
$color_btn_twitter: #1ca1f2;

$color_menu: $color_charcoal_grey_two;
$color_text: $color_charcoal_grey;
$color_btn: $color_red;

$bgcolor_footer: $color_charcoal_grey;
$color_sitemap: $color_white;