$color_charcoal_grey: #353647;
$color_charcoal_grey_two: #373739;
$color_pinkish_red: #ea1f37;
$color_cloudy_blue: #a8aad7;
$color_black-33: rgba(0, 0, 0, 0.33);

$color_red: #ea1f37;
$color_white: #ffffff;
$color_dark: #1d1d26;
$color_black: #121212;

$color_menu: $color_charcoal_grey_two;
$color_text: $color_charcoal_grey;
$color_btn: $color_red;

$bgcolor_footer: $color_charcoal_grey;
$color_sitemap: $color_white;