.WinnerSlide {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(146deg, #4a4b6c, #343547);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.WinnerSlide .TopContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 4;
}

.WinnerSlide .TopContent .Cup {
  width: 250px;
}

.WinnerSlide .TopContent .ResultName {
  font-size: 30px;
  height: 35px;
}

.WinnerSlide .CenterContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  flex: 2;
}

.WinnerSlide .BottomContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 4;
}

.WinnerSlide .BottomContent .Extra {
  font-size: 50px;
  font-style: italic;
}

.WinnerSlide .BottomContent .TotalLaps {
  font-size: 50px;
}

.WinnerSlide .BottomContent .Time {
  font-size: 30px;
  padding-bottom: 30px;
}

.WinnerSlide .LogoWrapper {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 80px;
}

.WinnerSlide .LogoWrapper .Logo {
  max-width: 100%;
}
