@import "../../styles/Color.scss";
@import "../../styles/Font.scss";

.event-card {
	position: relative;
	word-wrap: break-word;
	background-color: $color_white;
	margin-bottom: 30px;
	&.mobiletype {
		@media (max-width: 767px) {
			margin-bottom: 0;
		}
		@media (max-width: 575px) {
			padding: 0;
		}
	}
	.card-banner {
		display: flex;
		justify-content: center;
		height: 180px;
		background-color: rgba(0, 0, 0, 1);

		img {
			width: 100%;
			object-fit: cover;
		}
		&.mobiletype {
			@media (max-width: 1199px) {
				display: none;
			}
		}
	}

	.card-glass {
		position: absolute;
		top: 90px;
		left: 35px;
		background-color: transparent;

		.slogan {
			margin-right: 35px;
			color: $color_white;
			font-size: 20px;
			line-height: 1.3;
		}

		&.mobiletype {
			@media (max-width: 1199px) {
				display: none;
			}
		}
	}

	.card-star {
		position: absolute;
		top: 153px;
		right: 25px;
		width: 54px;
		height: 54px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		background-color: $color_red;
		border-radius: 50%;
		text-align: center;

		&.registered {
			background-color: rgb(149, 204, 208);
		}

		&.results {
			background-color: rgb(168, 167, 127);
		}

		&.incomplete {
			background-color: rgb(255, 168, 36);
		}

		img {
			width: 27px;
			height: 25px;
			margin-top: 25%;
			cursor: pointer;
		}
		&.mobiletype {
			@media (max-width: 1199px) {
				top: 30px;
			}
		}
	}

	.event-info {
		border-top: none;
	}
}

.event-info {
	display: flex;
	width: 100%;
	border: 1px solid #eceae8;
	border-left: none;
	background-color: $color_event_other;
	color: $color_dark;
	cursor: pointer;

	&.Running {
		background-color: $color_event_running;
	}
	&.Roadbike {
		background-color: $color_event_roadbike;
	}
	&.MultiSport {
		background-color: $color_event_multisport;
	}
	&.Mountainbike {
		background-color: $color_event_mountainbike;
	}
	&.TrialRun {
		background-color: $color_event_trialrun;
	}
	&.mobiletype {
		@media (max-width: 1199px) {
			border-top: 1px solid #eceae8;
		}
	}
	.event-content {
		margin-left: 6px;
		width: 100%;
		height: 100%;
		background-color: $color-white;
		display: flex;
		padding: 18px 7px;
	}

	.event-time {
		text-align: center;
		padding: 5px 3px;

		.day {
			font-size: 26px;
			line-height: 26px;
		}

		.month {
			opacity: 0.6;
			font-size: 13px;
		}

		.time {
			font-size: 13px;
			line-height: 1.5;
		}
	}

	.event-description {
		text-align: left;
		padding: 3px 5px;
		width: 100%;

		.title {
			font-size: 16px;
			line-height: 1.4;
			max-width: 195px;
			// max-height: 45px;
			min-height: 28px;
		}
		.event-smalldescription {
			font-size: 14.5px;
			opacity: 0.5;
			margin-top: 10px;
			padding-right: 20px;
		}

		.by-options {
			position: relative;

			.by {
				opacity: 0.5;
				font-size: 14px;
				padding-right: 100px;
			}

			.type-city {
				opacity: 0.5;
				font-size: 13.5px;
				padding-right: 20px;
			}

			.options {
				position: absolute;
				top: -5px;
				right: 0px;

				.event-option {
					display: inline-block;
					padding: 0px 5px;
					font-size: 18px;
					line-height: 1.67;
					color: $color_red;
					text-decoration: underline;

					img {
						height: 23px;
						cursor: pointer;
					}
				}
				&.mobiletype {
					@media (max-width: 1199px) {
						display: none;
					}
				}
			}
		}

		.friends {
			margin-top: 10px;

			.friend-link {
				width: 29px;
				height: 29px;
				border-radius: 50%;
				display: inline-block;
			}

			.friend-link + .friend-link {
				margin-left: 5px;
			}
		}
	}
}

.category-card {
	position: relative;
	word-wrap: break-word;
	background-color: $color_white;
	margin-bottom: 30px;

	.card-banner {
		display: flex;
		justify-content: center;
		background-color: rgba(0, 0, 0, 1);
		height: 304px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.card-glass {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		background-color: transparent;

		.category-name {
			margin-top: 100px;
			color: $color_white;
			text-align: center;
			font-size: 28px;
			line-height: 1.8;
		}

		.item-num {
			margin-top: 14px;
			opacity: 0.5;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			line-height: 1.83;
			letter-spacing: 1.1px;
			text-align: center;
			color: $color_white;
		}

		.category-line {
			margin-top: 8px;

			.line {
				display: flex;
				width: 28.8px;
				height: 1.9px;
				border: solid 3px $color_cloudy_blue;
				margin: 0 auto;
			}
		}
	}
}

.past-card {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.88;
	color: $color_grey_text;

	.detail-option {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.67;
		text-align: right;
		color: $color_red;
		text-decoration: underline;
	}
}
