@import "../../styles/Color.scss";
@import "../../styles/Button.scss";

// login
.login {
  width: 100%;
  background-image: url(/img/login-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;

  .login-logo {
    padding-top: 36px;
    display: flex;
    justify-content: center;
    @media (min-width: 576px) {
      padding-top: 56px;
    }
    @media (min-width: 768px) {
      padding-top: 76px;
    }
    @media (min-width: 992px) {
      padding-top: 96px;
    }
    .logo {
      width: 112px;
      @media (min-width: 576px) {
        width: 122px;
      }
      @media (min-width: 768px) {
        width: 132px;
      }
      @media (min-width: 992px) {
        width: 142px;
      }
    }
  }

  .login-main {
    position: relative;
    width: 310px;
    margin: 0 auto;
    margin-top: 24px;
    @media (min-width: 576px) {
      margin-top: 34px;
    }
    @media (min-width: 768px) {
      margin-top: 44px;
    }
    @media (min-width: 992px) {
      margin-top: 54px;
    }
    .btn-login {
      width: 100%;
      border-radius: 16px;
      font-size: 15px;
      height: 52px;
  
    }
  
    .btn-facebook {
      @include btn-variant($color_btn_facebook, $color_white);
    }
    .btn-twitter {
      @include btn-variant($color_btn_twitter, $color_white);
      margin-top: 10px;
    }

    .fa {
      font-size: 23px;
      padding-right: 15px;
      vertical-align: middle;
    }
    
    span {
      line-height: 2;
    }

    .login-border {
      flex-direction: row;
      margin: 23px 8px 20px 8px;
      display: flex;
      justify-content: space-between;

      .login-border-line {
        width: 102px;
        height: 2px;
        opacity: 0.7;
        border: solid 1px $color_white;
        align-self: center;
      }

      .login-border-text {
        font-size: 14px;
        color: $color_white;
        line-height: 2;
        letter-spacing: 0.2px;
        font-family: 'Roboto', sans-serif;
      }
    }

    .login-other {
      height: 115px;
      border-radius: 16px;
      background-color: $color_white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 14px 0;

      .login-other-line{
        height: 2px;
        opacity: 0.05;
        border: solid 2px var(--dark)
      }

      img {
        height: 23.5px;
        margin-left: 19.5px;

        &.login-other-icon-password{
          margin-left: 23px;
        }
      }

      input {
        font-family: 'Roboto', sans-serif;
        color: var(--dark);
        line-height: 1.75;
        letter-spacing: 0.3px;
        margin-left: 14px;
        width: 230px;
        border: 0px solid;
        &:focus{
          outline: none;
        }
      }
    }

    .signin {
      width: 100%;
      height: 53px;
      border-radius: 16px;
      line-height: 1.88;
      margin-top: 15px;
    }

    .stay-signin{
      margin-top: 35px;

      .stay-signin-check {
        margin-left: 1px;
        height: 31px;
        vertical-align: middle;
        margin-top: -6px;
      }

      span {
        color: $color_white;
        line-height: 1.88;
        margin-left: 8px;
      }
    }

    .create-forgot {
      margin-top: 10px;
      flex-direction: column;
      display: flex;
      padding-bottom: 40px;

      @media (min-width: 576px) {
        margin-top: 15px;
        padding-bottom: 50px;
      }
      @media (min-width: 768px) {
        margin-top: 20px;
        padding-bottom: 60px;
      }
      @media (min-width: 992px) {
        margin-top: 30px;
        padding-bottom: 70px;
      }
      .create-forgot-text {
        font-family: 'Roboto', sans-serif;
        color: $color_white;
        line-height: 1.5;
        letter-spacing: 0.3px;
        text-align: center;
      }
    }
  }
}