@import "../../styles/Color.scss";

.organizer-banner {
  background-image: url(/img/home-banner-bottom.png);
  
  .slogan-section {
    bottom: 20px;

    .organizer-banner-text {
      display: grid;
      justify-content: center;
      .slogan {
        line-height: 1.26 !important;
        text-align: center !important;
      }
  
      .slogan-description {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.39;
        text-align: center;
        color: $color_white;
        max-width: 900px;
        margin-top: 20px;
      }
    }

    .btn-organizer {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .organizer-scroll-arrow {
      width: 10px;
      height: 19px;
      transform: rotate(90deg);
      color: #b9babf;
      font-size: 20px;
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: red;
      }
    }
  }
}
.slider-image {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  &::before {
    color: red;
  }
}
.slick-prev:before {
  content: '\2039';
  color: #b9babf;
}
.slick-next:before {
  content: '\203A';
  color: #b9babf;
}

.image-slider {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.text-slider {
  margin: 0 auto;
  margin-bottom: 80px;

  .slider-text-body {

  }
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -35px;
  }
  .slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .slider-text {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.39;
    text-align: center;
    color: var(--charcoal-grey);
  }

  .slider-text-small {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    text-align: right;
    color: #383739;
  }
}
.btn-organizer {
  margin-top: -100px;
  margin-bottom: 80px;
}

.organizer-body {
  justify-content: center;
}
.organizer-body-topic {
  font-size: 28px;
  line-height: 1.39;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.organizer-body-main {
  margin-bottom: 40px;
}

.organizer-main-circle {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  background-color: $color_grey_circle;
  margin: 0 auto;
  align-items: center;
  display: flex;

  .organizer-circle-image {
    height: 60px;
    margin: 0 auto;
    display: flex;
  }
}

.organizer-main-text {
  margin: auto;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  color: var(--charcoal-grey);
  line-height: 1.63;
  text-align: center;
  max-width: 230px;
}