.event-search {
	margin: 0 auto;
	margin-top: -155px;
	@media (max-width: 575px) {
		margin-top: -100px;
	}
}

.friend-event {
	margin-top: 82px;
}

.category-event {
	margin-top: 102px;
	margin-bottom: 140px;
}
