@import "../../styles/Color.scss";

// Main menu
.navbar.header-menu {
  padding-top: 0px;

  .logo-link {
    padding: 10px 0px;

    .logo {
      width: 200px;
    }
  }

  .nav-item {    
    padding: 0.5rem 1rem;    
  }

  .menu-link {
    font-size: 16px;
    font-weight: 300;
    color: $color_menu;
  }

  .btn-login {
    margin: 0.5rem 1rem;    
  }
}
.avatar-link {
  margin-left: 20px;
  .avatar {
    width: 60px;
  }
}
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}