@import "../../styles/Color.scss";

// Main menu
.navbar.header-menu {
  padding-top: 0px;

  .logo-link {
    padding: 10px 0px;

    .logo {
      width: 200px;
    }
  }

  .nav-item {    
    padding: 0.5rem 1rem;    
  }

  .menu-link {
    font-size: 16px;
    font-weight: 300;
    color: $color_menu;
  }

  .btn-login {
    margin: 0.5rem 1rem;    
  }
}

.avatar-link {
  margin-left: 20px;
  .avatar {
    width: 60px;
  }
}