@import "../../styles/Color.scss";

.withwork {
	font-size: 28px;
	font-weight: 300;
	line-height: 1.39;
	text-align: center;
	color: var(--charcoal-grey);

	.withwork-logos {
		margin-top: 20px;
		margin-bottom: 130px;

		.withwork-logo {
			height: 80px;
			margin-right: 20px;
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}
}
