.register-wizard {
	.contact-body {
		.register-notification {
			display: flex;

			span {
				font-size: 18px;
			}
			.register-switch {
				margin-left: auto;
			}
		}
	}
}

.dropzone-base {
	width: 150px;
	height: 150px;
	margin: auto;

	.dropzone-image {
		width: 100%;
		cursor: pointer;
	}

	input {
		width: 100%;
	}
}
