@import "../../styles/Color.scss";

.register-wizard {
	@media (max-width: 575px) {
		margin-top: 70px;
	}
	.register-wizard-state {
		font-size: 22px;
		font-weight: bold;
		@media (max-width: 767px) {
			font-size: 19px;
			margin-left: 20px;
			margin-right: 20px;
		}
		.register-step {
			float: right;
		}
	}
	.about-body-container {
		padding: 0;
	}
	.about-body-topic {
		background-color: #e9e9e9;
		line-height: normal;
		padding: 20px;
		margin-top: 50px;
		font-size: 16px;
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}

	.contact-body {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		.contact-body-field {
			margin-top: 20px;
			@media (max-width: 767px) {
				border-bottom: solid 1px #e2e1e1;
				padding-left: 20px;
				padding-right: 20px;
			}
			.field-topic {
				opacity: 0.5;
				font-size: 14px;
				@media (max-width: 767px) {
					font-size: 12px;
				}
			}
			.contact-body-input {
				border-radius: 4px;
				@media (max-width: 767px) {
					border: unset;
					padding: 0;
					height: unset;
				}
			}
		}
		.react-datepicker__input-container {
			input {
				@media (max-width: 767px) {
					border: unset;
					padding: 0;
				}
			}
		}
		.Select-control {
			height: 48px;
			border-color: #e2e1e1;
			border-radius: 4px;
			background-color: $color_white;
			@media (max-width: 767px) {
				border: unset;
			}
		}
		.Select.is-focused:not(.is-open) > .Select-control {
			border-color: $color_grey_border;
			box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0 0px rgba(0, 126, 255, 0.1);
		}
		.Select-value {
			margin-top: 7px;
			@media (max-width: 767px) {
				padding-left: 0;
			}
		}
		.Select-placeholder {
			margin-top: 7px;
			@media (max-width: 767px) {
				padding-left: 0;
			}
		}
		.Select-input {
			@media (max-width: 767px) {
				padding-left: 0;
			}
		}
		.sent-state {
			justify-content: center;
			@media (max-width: 767px) {
				margin-left: 20px;
				margin-right: 20px;
				button {
					font-size: 14px;
				}
			}
			.btn-register-next {
				width: 400px;
				height: 50px;

				&.success {
					background-color: rgb(74, 108, 111);
					border-color: rgb(74, 108, 111);
				}
			}
		}
	}
	.welcome-register {
		span {
			display: flex;
			justify-content: center;
			text-align: center;
			font-size: 18px;
			color: #43445b;
			margin-bottom: 30px;
		}
	}

	.button-checkmark {
		width: 20px;
		margin-bottom: 3px;
		margin-right: 10px;
	}
}
